/* HTML-Body */

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background: #434b53;
}

/* Video-Background */

#videoBG {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
}

/* Header on Top */

header {
    text-align: left;
    font-size: 40px;
    height: 8%;
    line-height: 20%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 99.4%;
    z-index: 9001;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
}

/* current Channel-Name */

.title {
    margin-left: 13%;
    position: absolute;
    color: #ffffff;
}

/* General for "Open left Sidebar"-Button */

.openls {
    display: none;
    width: 1%;
    height: 1%;
    position: fixed;
    z-index: 9000;
    top: 10.2%;
    left: 0.5%;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
}

/* Open Button for left Sidebar */

.openbtn {
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: transparent;
    line-height: 0;
    position: absolute;
    left: 10%;
    top: 30%;
}

/* Left Sidebar */

.sidebar {
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    height: 82%;
    width: 10%;
    position: fixed;
    z-index: 9000;
    top: 10.2%;
    left: 0.5%;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
    display: initial;
}

/* Hovering over Links */

.sidebar .link:hover {
    background-color: #000000;
    line-height: 200%;
    text-decoration: none;
}

/* Active Link (!!!NOT WORKING RIGHT NOW!!!) */

.sidebar .link:active {
    background-color: #000000;
}

/* Close Button for left Sidebar */

.sidebar .closebtn {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    outline: transparent;
    color: #ffffff;
    border-style: none;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 3%;
}

/* p-Element in left Sidebar */

.sidebar p {
    font-size: 40px;
    color: #ffffff;
    display: block;
    text-align: center;
    position: fixed;
    left: 1.5%;
}

/* Line above Channels */

.linetop {
    position: fixed;
    left: 1%;
    width: 9.5%;
    top: 22%;
}

/* Channel-Links inside left Sidebar */

.links {
    height: 75.5%;
    width: 95%;
    overflow-y: scroll;
    position: absolute;
    top: 14.6%;
    left: 2.5%;
    text-align: center;
}

/* li-Element in left Sidebar */

.sidebar li {
    width: 100%;
    list-style-type: none;
    float: left;
}

/* General for Channel-Links inside left Sidebar - deactivate visible Scrollbar */

.links::-webkit-scrollbar {
    display: none;
}

/* Single Link inside left Sidebar */

.links .link {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 200%;
    text-decoration: none;
}

/* Line under Channels */

.linebottom {
    position: fixed;
    left: 1%;
    width: 9.5%;
    top: 84%;
}

/* General for new Channel */

.newChannel {
    display: initial;
}

/* Texteara for new Channel-Name */

.newname {
    resize: initial;
    border-radius: 25px;
    outline: transparent;
    background-color: #2d2d2d;
    color: #ffffff;
    border-style: inset;
    border: 100%;
    text-align: center;
    vertical-align: center;
    position: absolute;
    top: 92%;
    left: 2%;
    width: 94%;
}

/* Submit Button for creating new Channel */

.create {
    width: 50%;
    height: 3%;
    position: absolute;
    border-radius: 25px;
    background-color: #2d2d2d;
    outline: none;
    color: #ffffff;
    top: 96%;
    left: 0;
}

/* Submit Button for creating new Channel */

.delete {
    width: 50%;
    height: 3%;
    position: absolute;
    border-radius: 25px;
    background-color: #2d2d2d;
    outline: none;
    color: #ffffff;
    top: 96%;
    right: 0;
}

/* General for "Open right Sidebar"-Button */

.openrs {
    display: none;
    width: 1%;
    height: 1%;
    position: fixed;
    z-index: 9000;
    top: 10.2%;
    right: 0.5%;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
}

/* Open Button for right Sidebar */

.openbtnright {
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: transparent;
    line-height: 0;
    position: absolute;
    left: 10%;
    top: 30%;
}

/* Right Sidebar */

.sidebarright {
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    height: 82%;
    width: 10%;
    position: fixed;
    z-index: 9000;
    top: 10.2%;
    right: 0.5%;
    overflow: hidden;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
}

/* Close Button for right Sidebar */

.sidebarright .closebtn {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    outline: transparent;
    color: #ffffff;
    border-style: none;
    position: absolute;
    top: 0%;
    right: 3%;
    text-decoration: none;
}

/* Header in right Sidebar */

.rsheader {
    padding: 6px 8px 6px 16px;
    font-size: 40px;
    color: #ffffff;
    display: block;
    text-align: center;
}

/* Line over User-List */

.rsline {
    position: fixed;
    right: 1%;
    width: 9.5%;
    top: 22%;
}

/* User-List inside right Sidebar */

.userlist {
    height: 85%;
    width: 98%;
    overflow-y: scroll;
    position: absolute;
    top: 14.7%;
    left: 1%;
}

/* General for User-List inside right Sidebar - deactivate visible Scrollbar */

.userlist::-webkit-scrollbar {
    display: none;
}

/* User-List in right Sidebar */

.user {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align: center;
}

/* General for Message-Content */

.content {
    height: 82.5%;
    top: 10.2%;
    width: 76%;
    margin-left: 11.8%;
    position: absolute;
    overflow-y: scroll;
}

/* General for Message-Content - Hide Scrollbar */

.content::-webkit-scrollbar {
    display: none;
}

/* General for every single Post */

.post {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    border: 8px outset #2d2d2d;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: auto;
    height: auto;
    background-image: linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    color: #ffffff;
}

/* General for displayed Icon */

.icon {
    border-radius: 50%;
    height: 2.5%;
    width: 2.5%;
    float: left;
    margin-right: 1%;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

/* Style for displayed Autor */

.autor {
    font-size: 30px;
    margin-top: 1%;
}

/* Style for displayed Timestamp */

.timestamp {
    font-size: 20px;
    margin-left: 1%;
}

/* Style for displayed Message */

.message {
    text-align: left;
    margin-left: 2%;
    font-size: 25px;
    word-wrap: break-word;
    line-height: 40px;
}

/* Button for opening "New Message"-Area */

.openbtnmessage {
    font-size: 15px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 94%;
    left: 0.5%;
    outline: transparent;
    z-index: 9005;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    width: 10.5%;
    height: 5%;
}

/* General Settings for Footer */

.footer {
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    height: 25%;
    position: fixed;
    left: 12.1%;
    bottom: 1%;
    right: 12.1%;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
    display: none;
}

/* Style of "Input Name"-Area */

.name {
    text-align: left;
    width: 30%;
    height: 40px;
    resize: none;
    border-radius: 25px;
    outline: none;
    font-size: 20px;
    background-color: #2d2d2d;
    line-height: 40px;
    padding-left: 1%;
    color: #ffffff;
    position: absolute;
    left: 0.5%;
    top: 3%;
    border-style: inset;
    border: 100%;
}

/* Style for "Close Message"-Button */

.closebtnMessage {
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 0.5%;
    outline: transparent;
    z-index: 9005;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    border-radius: 15px;
}

/* Submit-Button for new Message */

.sendmessage {
    width: 9%;
    height: 15%;
    border-radius: 25px;
    background-color: #2d2d2d;
    outline: none;
    color: #ffffff;
    position: absolute;
    right: 0.3%;
    top: 60%;
    font-size: 25px;
}

/* Animated Button-Press */

.sendmessage:active {
    transform: translate(5%, 5%);
}

/* Style for Message Area */

.newmessage {
    text-align: left;
    width: 88%;
    height: 75%;
    resize: initial;
    border-radius: 25px;
    outline: transparent;
    font-size: 20px;
    background-color: #2d2d2d;
    line-height: 40px;
    padding-left: 1%;
    color: #ffffff;
    left: 0.5%;
    top: 20%;
    position: absolute;
    border-style: inset;
    border: 100%;
}

/* General for News-Feed */

.footer2 {
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    height: 4%;
    position: fixed;
    left: 12.1%;
    bottom: 1%;
    right: 12.1%;
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
    overflow: hidden;
    display: initial;
}

/* Animation for News-Feed */

.marquee {
    font-size: 25px;
    position: absolute;
    line-height: 50%;
    left: 0.5%;
    color: #ffffff;
    -webkit-transform: translateX(100%);
    -webkit-animation: scroll-left 120s linear infinite;
    white-space: nowrap;
}

/* General for showing Date/Time */

.zeit {
    position: absolute;
    bottom: 1%;
    right: 0.5%;
    color: #ffffff;
    background-image: url("/static/images/comb.svg"), linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    border: 8px;
    border-color: #2d2d2d;
    border-style: outset;
    border-radius: 25px;
    height: 4%;
    width: 10%;
    font-size: 32px;
    line-height: 1%;
}

/* Individual for Date */

.datum {
    position: absolute;
    left: 5%;
}

/* Individual for Time */

.uhrzeit {
    position: absolute;
    right: 5%;
}

/* Fade In specific elements */

.fadeIn {
    -webkit-animation: einblenden 3s;
}

/* Keyframe for Fade In */

@-webkit-keyframes einblenden {
    from { opacity:0; }
    to { opacity:1; }
}

/* Keyframe for Fade In */

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(45%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}







.container {
    width: 80%;
    max-width: 600px;
    margin: 200px auto;
}

button.accordion {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordion:after {
    content: '\f055';
    font-size: 14px;
    float: right;
}

button.accordion.is-open:after {
    content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
    background-color: #ddd;
}

.accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}